<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
      <div class="field">
        <%= form.label :Tu_pagina_web %>
        <%= form.text_field :url, class: "form-control", placeholder: "Tu pagina" %>
      </div>

      <div class="field">
        <%= form.label :Numero_de_contacto %>
        <%= form.number_field :phone, class: "form-control", placeholder: "Tu numero de contacto" %>
      </div>

      <div class="field">
        <%= form.label :direccion %>
        <%= form.text_field :address, class: "form-control", placeholder: "Tu direccion" %>
      </div>

      <div class="field">
        <%= form.label :correo_de_contacto%>
        <%= form.text_field :email, class: "form-control", placeholder: "Tu correo de contacto" %>
      </div>

      <% if @locations != nil %>
        <div class="form-group col-md-4">
              <div class="field">
                <%#= form.label :region %>
                <%= form.select :location_id, options_for_select(@locations.map { |location| [location.name, location.id] }),  {include_blank: true}, {class: "btn btn-light btn-lg dropdown-toggle mt-3 py-3 mr-5"} %>
              </div>
        </div>
      <% end %>

      <%
=begin%>
 <div class="field">
        <%= form.label :user_id %>
        <%= form.text_field :user_id %>
      </div> 
<%
=end%>

      <div class="actions">
        <%= form.submit %>
      </div>
  </div>
<% end %>
