<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
      <div class="field">
        <%= form.label :Tu_pagina_web %>
        <%= form.text_field :url, class: "form-control", placeholder: "Tu pagina" %>
      </div>

      <div class="field">
        <%= form.label :Numero_de_contacto %>
        <%= form.number_field :phone, class: "form-control", placeholder: "Tu numero de contacto" %>
      </div>

      <div class="field">
        <%= form.label :direccion %>
        <%= form.text_field :address, class: "form-control", placeholder: "Tu direccion" %>
      </div>

      <div class="field">
        <%= form.label :correo_de_contacto%>
        <%= form.text_field :email, class: "form-control", placeholder: "Tu correo de contacto" %>
      </div>

      <div class="field">
        <%= form.label :numero_secundario%>
        <%= form.text_field :secondary_number, class: "form-control", placeholder: "Tu numero de contacto secundario" %>
      </div>

      <div class="field">
        <%= form.label :cuenta_de_facebook%>
        <%= form.text_field :facebook_profile, class: "form-control", placeholder: "Tu cuenta de Facebook" %>
      </div>

      <div class="field">
        <%= form.label :cuenta_de_twitter %>
        <%= form.text_field :twitter_profile, class: "form-control", placeholder: "Tu cuenta de Twitter" %>
      </div>

      <div class="field">
        <%= form.label :cuenta_de_instagram %>
        <%= form.text_field :instagram_profile, class: "form-control", placeholder: "Tu cuenta de Instagram" %>
      </div>

      <div class="field">
        <%= form.label :posicion_laboral %>
        <%= form.text_field :job_position, class: "form-control", placeholder: "Tu cuenta de Instagram" %>
      </div>

      <div class="field">
        <%= form.label :zona_de_trabajo %>
        <%= form.text_field :zone, class: "form-control", placeholder: "Tu cuenta de Instagram" %>
      </div>

      

      <div class="actions">
        <%= form.submit "Guarda los cambios", class: "btn btn-lg btn-primary btn-lg btn-block my-5" %>
      </div>
  </div>
<% end %>










