
<section class="form-auth text-center mt-5" >

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <h1 class="h3 mb-3 font-weight-normal">Edita tus datos</h1>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <% if resource.avatar.attached? %>
        <%= image_tag resource.avatar, class: "rounded-circle" %>
      <% else %>
        <%= image_tag ("/assets/images/default_profileB.jpg")%>
      <% end %>
    </div>

    <div class= "field">
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Tu Nombre" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :contraseña %> <i>(dejalo en blanco si no quieres cambiarlo)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Tu Nuevo Password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> caracteres minimo</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :confirmacion_de_contraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirmacion de tu Nuevo Password" %>
    </div>

    <div class="field">
      <%= f.label :Contraseña_actual %> <i>(Necesitamos tu contraseña actual para confirmar los cambios)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Tu contraseña actual" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancelar mi cuenta</h3>

  <p>¿No estas satisfecho? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Volver", :back %>
</section>
