<div class="">
   <h3 class="h4"><%= @user.first_name %> <%= @user.last_name %></h3>

    <button class="btn btn-info">Llamar a <%= @user.first_name %></button>
    <button class="btn btn-success">Escribele a <%= @user.first_name %></button>
    <%= image_tag(@user.avatar_thumbnail) %>
</div>