<%= form_with(model: estate, local: true) do |form| %>
  <% if estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estate.errors.count, "error") %> prohibited this estate from being saved:</h2>

      <ul>
      <% estate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rooms %>
    <%= form.number_field :rooms, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Estacionamientos %>
    <%= form.number_field :parking, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bodega %>
    <%= form.number_field :storage, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :photo %>
    <%= form.file_field :photos, multiple: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Guardar Propiedad", class: "btn btn-lg btn-success" %>
  </div>

  <div class="mt-4">
    <% @estate.photos.each do |photo| %>
      <%= image_tag(photo, size: '480x260') %>
    <% end %>
  </div>



<% end %>
