  
  
<div class="hero-image text-center">
  <!-- Navbar de usuario -->
  <% if user_signed_in? %>
        <%if current_user.profile == nil %>
          <%= link_to  "Optimiza tu perfil", new_profile_path, class: "mt-5 mx-5 text-white font-weight-bold h5" %>
        <% else %>
          <%= link_to  "Tu Perfil", current_user.profile, class: "mt-5 mx-5 text-white font-weight-bold h5" %>
        <% end %>
      <%= link_to  "Mis propiedades", estate_dashboard_path, class: "mt-5 mx-5 text-white font-weight-bold h5" %>
      <%= link_to  "Mis Propiedades Favoritas", estate_favorite_path, class: "mt-5 mx-5 text-white font-weight-bold h5" %>
      <%= link_to  "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "mt-4 mx-4 text-white font-weight-bold h5" %>
      <%= link_to  "Edita tu perfil", edit_user_registration_path, class: "mt-5 mx-5 text-white font-weight-bold h5" %>
      <%= link_to 'Publica una propiedad', new_estate_path, class: "mt-5 mx-5 text-white font-weight-bold h5" %>
      <span class="ml-5 text-white"><%= current_user.email %></span>
      <%#= image_tag(current_user.avatar_thumbnail, size: '70x70', class: "rounded-circle mx-5") || image_tag("default_profileB.jpg") %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, size: '70x70', class: "rounded-circle mx-5" %>
        <% else %>
          <%= image_tag("default_profileB.jpg", size: '70x70', class: "rounded-circle mx-5") %>
        <% end %>

      <div class="hero-text">
        <h1 class="font-weight-bold">CommercialCity</h1>
        <h3 class="mb-3">La comunidad digital del mundo inmobiliario</h3>
        <%= render 'search_form' %>
      </div>
  </div>
  <% else %>
      <%= link_to "Inicia Sesion", new_user_session_path, class: "mt-3 ml-3 text-white font-weight-bold" %>
      <%= link_to  "Registrate", new_user_registration_path, class: "mt-3 ml-3 text-white font-weight-bold" %>
      <div class="hero-text">
        <h1 class="font-weight-bold">CommercialCity</h1>
        <h3 class="mb-3">La comunidad digital del mundo inmobiliario</h3>
        <%#= render 'search_form' %>
      </div>
  <% end %>
</div>




<div class="container">
  

  <!-- Muestra al azar de 6 propiedades publicadas. Cambian al hacer refresh a la pagina -->    
  <h2 class="text-center my-5">Algunas propiedad publicadas</h2>
  <div class="row row-cols-1 row-cols-md-3">
    <% @estates_random.each do |estate| %>
        <div class="col-md-4 text-center">
          <div class="card h-100">
            <%= estate.photos.first.nil? ? image_tag("house.jpg", width: "345") : image_tag(estate.photos.first, width: "345") %>
            <div class="card-body">
              <h4 class="card-title"> <%= estate.location.name %></h4>
              <p class="card-text"><%= estate.description %><br><h5><%= number_to_currency(estate.price, precision: 0) %></h5></p>
              <strong class="text-secondary h5"><%= estate.rooms %></strong> <i class="fas fa-bed fa-2x mx-auto mt-2 align-bottom text-secondary"></i>
              <strong class="text-secondary h5"><%= estate.bathrooms %></strong> <i class="fas fa-toilet fa-2x mx-auto mt-2 align-bottom text-secondary"></i>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <!-- Contador de tipos de propiedad con sus logos-->
  <div class=" col my-5 font-weight-bold">
    <div class="row">
      <% @categories.each do |cat| %>
        <% if cat.name == "Casa" %>
          <i class="fas fa-home fa-5x mx-auto mt-2" aria-hidden="true"></i> 
        <% elsif cat.name == "Departamento" %>
          <i class="fas fa-building fa-5x mx-auto mt-2" aria-hidden="true"></i> 
        <% elsif cat.name == "Terreno" %>
          <i class="far fa-square fa-5x mx-auto mt-2" aria-hidden="true"></i> 
        <% elsif cat.name == "Industria" %>
          <i class="fas fa-industry fa-5x mx-auto mt-2" aria-hidden="true"></i>
        <% elsif cat.name == "Local Comercial" %>
          <i class="fas fa-store fa-5x mx-auto mt-2" aria-hidden="true"></i>
        <% elsif cat.name == "Parcela de Agrado" %>
          <i class="fas fa-tree fa-5x mx-auto mt-2" aria-hidden="true"></i> 
        <% else %>
          <i class="fas fa-tractor fa-5x mx-auto mt-2" aria-hidden="true"></i> 
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row mb-3 mx-5 h1 counter">
    <% @categories.each do |cat| %>
         <div class="col-md-1 mx-auto text-center"><%= cat.estates.count %></div>
    <% end %>
  </div>
</div>
