<p id="notice"><%= notice %></p>

<h1>Propiedades</h1>

<table class="table table-striped"> 
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Ciudad</th>
      <th>Price</th>
      <th>Rooms</th>
      <th>Bathrooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estates.each do |estate| %>
      <tr>
        <td><%#= estate.name %></td>
        <td><%= estate.address %></td>
        <td><%= estate.location.name %></td>
        <td><%= estate.price %></td>
        <td><%= estate.rooms %></td>
        <td><%= estate.bathrooms %></td>
        <td><%= image_tag estate.photos[0].variant(resize: '120x80') %></td>

  
        <td><%= link_to 'Show', estate %></td>
        <td><%= link_to 'Edit', edit_estate_path(estate) %></td>
        <td><%= link_to 'Destroy', estate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estate', new_estate_path, class: "btn btn-primary" %>


