

<div class="hero-image text-center">
  <!-- Navbar de usuario -->
  <% if user_signed_in? %>
        <%if current_user.profile == nil %>
          <%= link_to  "Optimiza tu perfil", new_profile_path, class: "mt-5 mx-5 text-white font-weight-bold" %>
        <% else %>
          <%= link_to  "Tu Perfil", current_user.profile, class: "mt-5 mx-5 text-white font-weight-bold" %>
        <% end %>
      <%= link_to  "Mis propiedades", estate_dashboard_path, class: "mt-5 mx-5 text-white font-weight-bold" %>
      <%= link_to  "Mis Propiedades Favoritas", estate_favorite_path, class: "mt-5 mx-5 text-white font-weight-bold" %>
      <%= link_to  "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "mt-3 mx-3 text-white font-weight-bold" %>
      <%= link_to  "Edita tu perfil", edit_user_registration_path, class: "mt-5 mx-5 text-white font-weight-bold" %>
      <%= link_to 'Publica una propiedad', new_estate_path, class: "mt-5 mx-5 text-white font-weight-bold" %>
      <span class="ml-5 text-white"><%= current_user.email %></span>
      <%#= image_tag(current_user.avatar_thumbnail, size: '70x70', class: "rounded-circle mx-5") || image_tag("default_profileB.jpg") %>
      <div class="hero-text">
        <h1 class="font-weight-bold">CommercialCity</h1>
        <h3 class="mb-3">Publica tu propiedad con nosotros</h3>
      </div>
  </div>
  <% else %>
      <%= link_to  "Inicia Sesion", new_user_session_path, class: "mt-3 ml-3 text-white font-weight-bold" %>
      <%= link_to  "Registrate", new_user_registration_path, class: "mt-3 ml-3 text-white font-weight-bold" %>
      <div class="hero-text">
        <h1 class="font-weight-bold">CommercialCity</h1>
        <h3 class="mb-3">La comunidad digital del mundo inmobiliario</h3>
      </div>
  <% end %>
</div>
        <%= render 'form', estate: @estate %>

