<section class="form-auth text-center" >
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f| %>
    <h1 class="h3 mb-3 font-weight-normal">Inicia Sesion</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
      <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Ingresa tu correo", autocomplete: "email" %>

    <label for="inputPassword" class="sr-only">Contraseña</label>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Ingresa tu Contraseña", class: "form-control", id: "inputPassword" %>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Recuerdame
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
    
  <% end %>
    
  <%= render "devise/shared/links" %>

  <a href="<%= user_facebook_omniauth_authorize_path %>"> 
    <img src="https://scontent.fscl11-1.fna.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?_nc_cat=105&ccb=2&_nc_sid=ad8a9d&_nc_eui2=AeFFvLZf2Geqg0ISQP8eAI6TDpRKUGl8lBMOlEpQaXyUE6EPe37SiZMBnKqme8p-8yk&_nc_ohc=u5QEswgW6fkAX9m2fZM&_nc_ht=scontent.fscl11-1.fna&oh=d717c77e47134576293e59edd41ed7bd&oe=5FD02716" alt="Facebook" width="200px" height="32px"></a>
        

</section>

</section>

