<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <hr>

<div class="row row-cols-1 row-cols-md-3">
  <% @estates.each do |estate| %>
      <div class="col-md-4">
        <div class="card h-100">
          <%= image_tag estate.photos[0], class: 'card-img-top', width: 300 if estate.photos.attached?%>
          <div class="card-body">
            <h2 class="card-title"> <%= estate.address %></h2>
            <p class="card-text">Size: <%= estate.rooms %><br>$<%= estate.price %></p><%= estate.rooms %>
          </div>
        </div>
      </div>
  <% end %>
</div>